In [20]:
umur = int(input("Isikan Umur Pengguna"))
if umur > 59:
    kategori = "Lansia"
elif umur > 17:
    kategori ="Dewasa"
elif umur > 12:
    kategori ="Remaja"
elif umur >=0:
    kategori ="Anak anak"
else:
    kategori ="Umur tidak valid"

print(f"kategori :{kategori}")

Isikan Umur Pengguna 19

kategori :Dewasa

In [38]:
tiket1 = int(input("Isikan Umur Pengunjung:"))
tiket2 = int(input("Isikan Umur Pengunjung:"))
tiket3 = int(input("Isikan Umur Pengunjung:"))
total = 0
if tiket1 > 59:
    keterangan1 = "Tiket Lansia"
    harga1 = 0
    total += harga
elif tiket1 > 17:
    keterangan1 = "Tiket Dewasa"
    harga1 = 25_000
elif tiket1 > 12:
    keterangan1 = "Tiket Remaja"
    harga1 = 15_000
elif tiket1 >=0:
    keterangan1 = "Tiket Anak anak"
    harga1 = 10_000
total += harga1
##############
if tiket2 > 59:
    keterangan2 = "Tiket Lansia"
    harga2 = 0
    total += harga
elif tiket2 > 17:
    keterangan2 = "Tiket Dewasa"
    harga2 = 25_000
elif tiket2 > 12:
    keterangan2 = "Tiket Remaja"
    harga2 = 15_000
elif tiket2 >=0:
    keterangan2 = "Tiket Anak anak"
    harga2 = 10_000
total += harga2
#############
if tiket3 > 59:
    keterangan3 = "Tiket Lansia"
    harga3 = 0
    total += harga
elif tiket3 > 17:
    keterangan3 = "Tiket Dewasa"
    harga3 = 25_000
elif tiket3 > 12:
    keterangan3 = "Tiket Remaja"
    harga3 = 15_000
elif tiket3>= 0:
    keterangan3 = "Tiket Anak anak"
    harga3 = 10_000
total += harga3

print(f"tiket 1: {keterangan1}| harga{harga1}")
print(f"tiket 2: {keterangan2}| harga{harga2}")
print(f"tiket 3: {keterangan3}| harga{harga3}")
print(f"total yang harus dibayar: {total}")

Isikan Umur Pengunjung: 11
Isikan Umur Pengunjung: 11
Isikan Umur Pengunjung: 11

tiket 1: Tiket Anak anak| harga10000
tiket 2: Tiket Anak anak| harga10000
tiket 3: Tiket Anak anak| harga10000
total yang harus dibayar: 30000

In [44]:
ukt = int(input("Isikan Pembayaran UKT:"))
penghasilan = int(input("Isikan Penghasilan ORTU:"))
nilaiRapor = int(input("Isikan Nilai Rapor Siswa:"))

beasiswa = 0
if nilaiRapor >= 90:
    if penghasilan <5_000_000:
        keterangan = "Beasiswa Penuh"
if nilaiRapor >= 85:
    if penghasilan <8_000_000:
        keterangan = "Beasiswa 50%"
else:
    keterangan = "Tidak Mendapatkan Beasiswa"

total = ukt - (ukt * (beasiswa/100))
print(f"Uang UKT :{ukt}")
print(f"Nilai Rapor :{nilaiRapor}")
print(F"Penghasilan ORTU :{penghasilan}")
print(F"Beasiswa :{keterangan}")
print(F"Total Bayar :{total}")

Isikan Pembayaran UKT: 10000000
Isikan Penghasilan ORTU: 6000000
Isikan Nilai Rapor Siswa: 88

Uang UKT :10000000
Nilai Rapor :88
Penghasilan ORTU :6000000
Beasiswa :Beasiswa 50%
Total Bayar :10000000.0

In [5]:
jenis = input("Isikan Jenis Kendaraan")
jamMasuk = int(input("Isikan jam Masuk"))
jamKeluar = int(input("Isikan jam keluar"))

harga = 0
total = 0
tambahan = 0
if jamMasuk >= jamKeluar:
    print("Input Jam Tidak Valid")
else:
    if jenis == "motor":
        harga = 2000
    elif jenis == "Mobil":
        harga = 5000
    else:
        print("Jenis Kendaraann tidak ada")
        harga = 0
lama = jamKeluar - jamMasuk
if lama > 5:
    tambahan = 10000
else:
    tambahan = 0
    
print(f"Total Biaya Parkir : {lama * harga + tambahan}")

Isikan Jenis Kendaraan motor
Isikan jam Masuk 4
Isikan jam keluar 6

Total Biaya Parkir : 4000

In [26]:
nopung = int(input("masukan no punggung anda"))
if nopung % 2==0:
    infol ="attacker"
    if 50<= nopung <=100:
        info1 = "dan layak sebagai captain tim"
elif nopung %2==1:
    info1 = "defender"
if nopung >90:
    info2 = "playmaker"
if nopung %3==0 %5==0:
    info2 = "keeper"
else:
    print("tidak valid")
print(f"no {nopung} posisi anda adalah {info1} dan {info2}")

masukan no punggung anda 24

no 24 posisi anda adalah defender dan keeper